<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>show</title>
    </head>
    <body>
        <form action="/shows" method="post"> 
            <label for="fname">show name:</label><br> 
            <input type="text" id="name" name="name"> 
            <br><br>
            <label for="fname">price:</label><br> 
            <input type="text" id="price" name="price"> 
            <br><br>
            <button type="submit">create show</button>
        </form>
    </body>
    </html>
